
.container{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right:20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.link{
    display: inline-block;
    color: var(--cor-p1);
    text-decoration: underline;
}
.botao{
    padding: 16px 32px;
    display: inline-block;
    background: linear-gradient( #ffbb00,#f2a50c);
    color: #332200;
    border-radius: 4px;
    box-shadow: 0 1px 2pxrgba(0,0,0,0.1);
    text-transform: uppercase;
    font: 600 1.125rem/1.35 'Poppins', sans-serif;
    max-width: max-content;
    border: none;
    cursor: pointer;
}
.botao:hover{
    background: linear-gradient( #ffb600,#e59317);
}
